numpy==1.26.4
pandas
scipy
matplotlib
pyyaml
mediapipe>=0.10,<0.11
protobuf>=3.20,<4
opencv-python<4.10
pyserial
dex_retargeting
transforms3d
avp-stream
aero-open-sdk

# --- PyTorch (CUDA 12.1 build) (for dex retargeting package) ---
torch==2.4.1
torchvision==0.19.1